@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

* {
    text-decoration: none;
    font-family: 'Caveat', cursive
}

.hero {
    background-image: url("../images/hero_etc/stream_hero.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    color: whitesmoke;

    position: absolute;
    text-align: center;
    margin-top: 10%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}
